/SubscriberService/SubscriberWebService/bin
/SubscriberService/SubscriberWebService/obj
/SubscriberService/GZipEncoder/bin
/SubscriberService/GZipEncoder/obj
/SubscriberService/SubscriberWebService/SubscriberWebService.v11.suo

/SubscriberService/SubscriberWebService.v11.suo
/SubscriberService/SubscriberWebService/Properties/PublishProfiles
